
.top {

}
h1 {
  display: inline;
  margin: 0px auto;
}
.add{
  display: inline-block;
}

.list {
  display:flex;
  flex-direction:column;
}

.book {
  display:flex;
  flex-direction: row:
  flex-wrap: nowrap;
  justify-content:flex-start;
}
.index {
}
.title{
}
.author{
}
.pages{
}
.read{
}
.delete{
 margin-right: 0.5em;
}
.index, .title, .author, .pages, .read{
  margin-right:1em;
}
