
.top {

}
h1 {
  display: inline;
  margin: 0px auto;
}
.add{
  display: inline-block;
  background-color:rgba(61, 206, 101, 1);
  border:none;
  border-radius:7px;
}

.list {
  display:flex;
  flex-direction:column;
}

.book {
  display:flex;
  flex-direction: row:
  flex-wrap: nowrap;
  justify-content:flex-start;
}
.index {
}
.title{
}
.author{
}
.pages{
}
.read{
}
.delete{
 margin-right: 0.5em;
}
.index, .title, .author, .pages, .read{
  margin-right:1em;
}
.overlay {
  border-style:solid;
  position: absolute;
  margin:auto;
  top:30%;
  left:40%;
  padding: 2em;
  display:none;
}
#confirm{
  position:relative;
  margin: 1em 40% 0 40%;
  padding:0.5em;
  background-color: rgba(61, 206, 101, 1);
  border:none;
  border-radius:7px;
}
#cancel {
  position:relative;
  margin: 0.5em 40% 0 40%;
  padding:0.2em;
  background-color: rgba(206, 10, 0, 1);
  border:none;
  border-radius:7px;
}
input{
  position:relative;
  margin: 0 auto;
}
.delete{
  font-size: 70%;
  position: relative;
  top: 2px;
}
